body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('dev.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh; /* Ensure full viewport height */
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 10px 20px;
}

.logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
}

.title {
    text-align: center;
    color: white;
    margin: 0;
}

.title h1 {
    font-size: 2em; /* Adjust font size */
    margin-bottom: 5px; /* Optional: Adjust spacing */
}

.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.post {
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.post:hover {
    transform: scale(1.05);
}

.post img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.post:hover img {
    transform: scale(1.1);
}

.post-description {
    display: none;
    padding: 15px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.post-description h2, .post-description p {
    color: white;
}

.post-description h2 {
    font-family: "Elephant", Arial, sans-serif; /* Apply Elephant font */
}

.show {
    display: block !important;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px; /* Adjust padding as needed */
    margin-top: auto; /* Push footer to the bottom */
    width: 100%;
}

.footer button {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.footer button:hover {
    background-color: #45a049;
}
